#form,
#errors {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 20px;
}

#errors {
    border: 2px solid red;
}